body {
  background-color: #f1f1f1;
  margin: auto;
}

header {
  position: sticky;
  width: 90%;
  height: 150px;
  background-color: #dedede;
  display: block;
  margin-left: 10%;
}

section {
  background-color: #ebebeb;
  height: 2000px;
  margin-left: 10%;
}

p1 {
  font-family: "timeless";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

p2 {
  font-family: "timeless-bold";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

p3 {
  font-family: "roboto-regular";
  font-size: 0.7em;
  color: white;
  text-align: center;
}

.resolution-list {
  margin: 25px 0 10px 0;
}

.resolution-list p {
  color: white;
  font-family: "roboto-bold";
  font-size: 1em;
  text-align: center;
}

.image {
  height: 80%;
  width: 80%;
  border: solid 1px #191919;
  margin: auto;
  border-radius: 5px;
}

.logo {
  left: 0;
  padding: 50px;
}

.post {

}

.seperator {
  padding: 5px;
  margin: auto;
  background-color: #111111;
}

.content {
  padding: 50px 0 0 50px;
  color: #111111;
  width: 95%;
}


.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #171717;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu a:link {
  color: white;
  font-family: "roboto-regular";
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.menu a:hover {
  color: #c3675b;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.menu a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:active {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu p {
  color: white;
  font-family: "libel";
  font-size: 1.4em;
  text-align: center;
}

.colors {
  border: none;
  padding: 15px;
  width: 100%;
}

.colors:hover {
  border: none;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  border-right: 15px solid #171717;
  transition: 0.2s;
}

.resolutions {
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #f4efe3;
  color: #171717;
  font-family: "libel";
  font-size: 1em;
  text-align: center;
}

.resolutions:hover {
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-right: 15px solid #171717;
  transition: 0.2s;
}

div.gallery {
  border: none;
  margin: 0;
}

div.gallery:hover {
  border: none;
  margin: 0;
  cursor: pointer;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px;
  float: left;
  width: 50%;
}


@font-face {
  font-family: "platnomor";
  src: url(platnomor.ttf);
}

@font-face {
  font-family: "libel";
  src: url(libel.ttf);
}

@font-face {
  font-family: "roboto-regular";
  src: url(roboto-regular.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(roboto-bold.ttf);
}

@font-face {
  font-family: "roboto-thin";
  src: url(roboto-thin.ttf);
}

@font-face {
  font-family: "coolvetica";
  src: url(coolvetica.ttf);
}

@font-face {
  font-family: "euphorigenic";
  src: url(euphorigenic.ttf);
}

@font-face {
  font-family: "timeless";
  src: url(timeless.ttf);
}

@font-face {
  font-family: "timeless-bold";
  src: url(timeless-bold.ttf);
}

@media screen and (max-width: 992px) and (min-width: 500px) {
.menu {
  width: 30%;
  }
  .menu p {
    color: white;
    font-family: "libel";
    font-size: 2.2em;
    text-align: center;
  }
  .menu a:link {
    font-size: 1.3em;
  }
header {
  width: 70%;
  margin-left: 30%;
  }

section {
  width: 70%;
  margin-left: 30%;
  }

  .resolutions {
    border: none;
    padding: 20px;
    width: 100%;
    background-color: #f4efe3;
    color: #171717;
    font-family: "libel";
    font-size: 2em;
    text-align: center;
  }

.responsive {
  width: 100%;
  margin: 6px 0;
  }
  p1 {
    font-family: "timeless";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }

  p2 {
    font-family: "timeless-bold";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }
  .colors {
    border: none;
    padding: 40px;
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    width: 40%;
    }
    .menu p {
      color: white;
      font-family: "libel";
      font-size: 2.4em;
      text-align: center;
    }
  header {
    width: 60%;
    margin-left: 40%;
    }

  section {
    width: 60%;
    margin-left: 40%;
    }

  .responsive {
    width: 100%;
  }


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
