::-webkit-scrollbar {
    display: none;
}



html {
  scroll-behavior: smooth;
}

body {
  background-color: #ebebeb;
  margin: auto;
  overflow: scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  position: sticky;
  width: 90%;
  height: 150px;
  background-color: #dedede;
  display: block;
  margin-left: 10%;
}

section {
  overflow: scroll;
  margin-left: 200px;
}

p1 {
  font-family: "timeless";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

p2 {
  font-family: "timeless-bold";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

p3 {
  font-family: "roboto-regular";
  font-size: 0.7em;
  color: white;
  text-align: center;
}

#loader {
  background-color: #353b48;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.loading {
  display: none;
  left: 54%;
  bottom: 15px;
  position: fixed;
  transition: opacity .3s ease-in;
}

.circle {
  background-color: #171717;
  border-radius: 50%;
  border: 2px #ebebeb solid;
  margin: 3px;
  height: 15px;
  width: 15px;
  animation: jump 0.4s ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
  animation-delay: 0.2s;
}

.resolution-list {
  margin: 25px 0 10px 0;
}

.resolution-list , .palette-list p {
  color: white;
  font-family: "roboto-bold";
  font-size: 1em;
  text-align: center;
}

.image {
  height: 80%;
  width: 80%;
  border: solid 1px #191919;
  margin: auto;
  border-radius: 5px;
}

.logo {
  padding: 45px 0 45px 0;
  text-align: center;
}

.post {

}

.seperator {
  padding: 5px;
  margin: auto;
  background-color: #111111;
}

.content {
  padding: 5px 0 0 50px;
  width: 98%;
}

.allImages {
  bottom: 0;
}

.content h1 {
  color: #171717;
  font-size: 3em;
  font-family: "timeless";
  margin-left: 6px;
}


a:link {
  color: white;
  font-family: "roboto-regular";
  text-decoration: none;
  font-size: 0.7em;
  text-align: center;
  display: block;
  margin: 0 auto;
}

a:hover {
  color: #c3675b;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

a:active {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #171717;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu a:link {
  color: white;
  font-family: "roboto-regular";
  text-decoration: none;
  font-size: 0.7em;
  text-align: center;
  display: block;
  margin: 0 auto;
  transition: 0.2s ease-in;
}

.menu a:hover {
  color: #c3675b;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.menu a:visited {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu a:active {
  color: white;
  text-decoration: none;
  text-align: center;
}

.menu p {
  color: white;
  font-family: "libel";
  font-size: 1.4em;
  text-align: center;
}

.menu h1 {
  color: white;
  font-family: "roboto-thin";
  font-size: 0.5em;
  text-align: center;
}

.colors {
  border: none;
  padding: 20px;
  width: 100%;
  transition: 0.2s;
}

.MC {
  display: block;
  padding: 15px;
}

.LC {
  display: none;
  padding: 15px;
}

.colors:hover {
  border: none;
  padding: 20px;
  width: 100%;
  cursor: pointer;
  border-right: 15px solid #171717;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

.resolutions {
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #ebebeb;
  color: #171717;
  font-family: "libel";
  font-size: 1em;
  text-align: center;
}

.resolutions:hover {
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-right: 15px solid #171717;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}

div.gallery {

  border: none;
  margin: 0;
  -webkit-box-shadow: 0px 6px 28px -10px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 6px 28px -10px rgba(0,0,0,0.35);
  box-shadow: 0px 6px 28px -10px rgba(0,0,0,0.35);
}

div.gallery:hover {
  border: none;
  margin: 0;
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.4s;
  transition-timing-function: ease-in-out;
}

div.gallery img {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.myImages-bonus {
  object-fit: cover;
  height: 50px;
}

.responsive {
  padding: 5px;
  float: left;
  width: 50%;
}

.responsive-bonus {
  padding: 5px;
  float: left;

}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 1;}

.modal {
  display: none;
  position: fixed;
  z-index: 6;
  padding-top: 7%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #171717;
  font-family: "roboto-regular";
  font-size: 1,4em;
}

.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1200px;
  top: 0;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 20px 0;
  height: 150px;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#topBtn {
  left: 0;
  top: 0;
  margin-left: 108px;
  display: none;
  position: fixed;
  z-index: 2;
  border: 2px rgba(0, 0, 0, 0) solid;
  outline: none;
  background-color: #ebebeb;
  color: #171717;
  cursor: pointer;
  width: 100%;
  height: 2.6em;
  border-radius: 4px;
  font-size: 2em;
  font-family: "roboto-bold";
}

#topBtn:hover {
  transition: 0.4s;
  background-color: #171717;
  color: #ebebeb;
}


@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

@keyframes jump {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


@font-face {
  font-family: "platnomor";
  src: url(platnomor.ttf);
}

@font-face {
  font-family: "libel";
  src: url(libel.ttf);
}

@font-face {
  font-family: "roboto-regular";
  src: url(roboto-regular.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(roboto-bold.ttf);
}

@font-face {
  font-family: "roboto-thin";
  src: url(roboto-thin.ttf);
}

@font-face {
  font-family: "coolvetica";
  src: url(coolvetica.ttf);
}

@font-face {
  font-family: "euphorigenic";
  src: url(euphorigenic.ttf);
}

@font-face {
  font-family: "timeless";
  src: url(timeless.ttf);
}

@font-face {
  font-family: "timeless-bold";
  src: url(timeless-bold.ttf);
}

@media screen and (max-width: 992px) and (min-width: 500px) {

  #topBtn {
    left: 4%;
    font-size: 2.5em;
  }

  .loading {
    display: none;
    left: 60%;
  }
  .circle {
    height: 25px;
    width: 25px;
  }
.menu {
  width: 300px;
  }
  .menu p {
    color: white;
    font-family: "libel";
    font-size: 2.2em;
    text-align: center;
  }
  .menu a:link {
    font-size: 1.3em;
  }

  .modal-content {
    width: 100%;
  }

header {
  width: 65%;
  margin-left: 30%;
  }

section {
  width: 65%;
  margin-left: 300px;
  }

  .resolutions {
    border: none;
    padding: 20px;
    width: 100%;
    font-size: 2em;
    text-align: center;
  }

  .resolutions:hover {
    border: none;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    border-right: 15px solid #171717;
    transition: 0.2s;
  }

.responsive {
  width: 100%;
  margin: 6px 0;
  }
  p1 {
    font-family: "timeless";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }

  p2 {
    font-family: "timeless-bold";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }
  .colors {
    border: none;
    padding: 40px;
    width: 100%;
  }
  .colors:hover {
    border: none;
    padding: 40px;
    width: 100%;
    cursor: pointer;
    border-right: 15px solid #171717;
    transition: 0.2s;
  }


}
@media only screen and (max-width: 500px) {
  .menu {
    width: 500px;
    }
    .menu p {
      color: white;
      font-family: "libel";
      font-size: 2.4em;
      text-align: center;
    }
  header {
    width: 60%;
    margin-left: 40%;
    }

  section {
    width: 60%;
    margin-left: 400px;
    }

  .responsive {
    width: 100%;
  }


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
