body {
  background-color: #f1f1f1;
  margin: auto;
}

header {
  position: sticky;
  width: 90%;
  height: 150px;
  background-color: #dedede;
  display: block;
  margin-left: 10%;
}

section {
  background-color: #ebebeb;
  height: 2000px;
  margin-left: 10%;
}

p1 {
  font-family: "timeless";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

p2 {
  font-family: "timeless-bold";
  font-size: 1.4em;
  margin: auto;
  color: white;
}

.image {
  height: 80%;
  width: 80%;
  border: solid 1px #191919;
  margin: auto;
  border-radius: 5px;
}

.logo {
  left: 0;
  padding: 50px;
}

.post {

}

.seperator {
  padding: 5px;
  margin: auto;
  background-color: #111111;
}

.content {
  padding: 50px 0 0 50px;
  color: #111111;
  width: 95%;
}


.menu {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #171717;
  overflow-x: hidden;
  padding-top: 20px;
}

.menu p {
  color: white;
  font-family: "roboto-regular";
  font-size: 1em;
  text-align: center;
}

.colors {
  border: solid 1px #e5e5e5;
  padding: 15px;
  margin: 15px;
}

div.gallery {
  border: none;
  margin: 0;
}

div.gallery:hover {
  border: none;
  margin: 0;
}

div.gallery img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px;
  float: left;
  width: 24.99999%;
}


@font-face {
  font-family: "roboto-regular";
  src: url(roboto-regular.ttf);
}

@font-face {
  font-family: "roboto-bold";
  src: url(roboto-bold.ttf);
}

@font-face {
  font-family: "roboto-thin";
  src: url(roboto-thin.ttf);
}

@font-face {
  font-family: "coolvetica";
  src: url(coolvetica.ttf);
}

@font-face {
  font-family: "euphorigenic";
  src: url(euphorigenic.ttf);
}

@font-face {
  font-family: "timeless";
  src: url(timeless.ttf);
}

@font-face {
  font-family: "timeless-bold";
  src: url(timeless-bold.ttf);
}

@media screen and (max-width: 992px) and (min-width: 500px) {
.menu {
  width: 30%;
  }

header {
  width: 70%;
  margin-left: 30%;
  }

section {
  width: 70%;
  margin-left: 30%;
  }

.responsive {
  width: 49.99999%;
  margin: 6px 0;
  }
  p1 {
    font-family: "timeless";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }

  p2 {
    font-family: "timeless-bold";
    font-size: 2.3em;
    margin: auto;
    color: white;
  }
  .colors {
    border: solid 1px #e5e5e5;
    padding: 25px;
    margin: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .menu {
    width: 40%;
    }
  header {
    width: 60%;
    margin-left: 40%;
    }

  section {
    width: 60%;
    margin-left: 40%;
    }

  .responsive {
    width: 100%;
  }


}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
